<a href="/parents">Back to Main</a>
<a href="/autoshops">Go to Autoshops</a>
<a href="/vehicles">Go to Vehicles</a>

<%= form_with url: "/autoshops/#{@autoshop.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :open %>
  <%= form.check_box :open %>

  <%= form.label :vehicles_in_shop %>
  <%= form.text_field :vehicles_in_shop %>

  <%= form.submit "Update Auto Shop" %>

<% end %>

<body style="background-color:powderblue;">
</body>
