<a href="/parents">Back to Main</a>
<h1>Auto Shops</h1>
<% @autoshops.each do |autoshop| %>
  <h3><a href="/autoshops/<%= autoshop.id %>"><%= autoshop.name %></a></h3>
  <p>Open: <%= autoshop.open %></p>
  <p>Vehicles in Shop: <%= autoshop.vehicles_in_shop %></p>
  <p>Created at: <%= autoshop.created_at %></p>
  <p>Updated at: <%= autoshop.updated_at %></p>
  <p><%=button_to "Edit #{autoshop.name}", "/autoshops/#{autoshop.id}/edit", method: :get %></p>
  <p><%=button_to "Delete", "/autoshops/#{autoshop.id}", method: :delete %></p>
<% end %>
<%= link_to "New Auto Shop", "/autoshops/new" %>
