<a href="/parents">Back to Main</a>
<a href="/autoshops">Go to Auto Shops</a>
<a href="/vehicles">Go to Vehicles</a>

<h1><%= @autoshop.name %></h1>
<a href="/autoshops/<%= @autoshop.id %>/vehicles">Vehicles in Shop</a>
<p>Number of Associated Children: <%= @autoshop.associated_children_count %></p>
<p>Open: <%= @autoshop.open %></p>
<p>Number of Vehicles in Shop: <%= @autoshop.vehicles_in_shop %></p>
<p>Created at: <%= @autoshop.created_at %></p>
<p>Updated at: <%= @autoshop.updated_at %></p>

<a href="/autoshops/<%= @autoshop.id %>/edit">Edit</a>
