<h3><%= link_to "Plumbers", "/plumbers" %> <%= link_to "PlumberShops", "/plumbershops"%></h3>
<html>
  <head>
    <h1>All Plumber Shops</h1>
    <% @plumbershops.each do |shop| %>
    <h3><li><%= shop.name %></li></h3>
    <p><%= link_to "Edit #{shop.name}", "/plumbershops/#{shop.id}/edit" %></p>
    <p><%= button_to "Delete #{shop.name}", "/plumbershops" %></p>
    <% end %>
    <h3><%= link_to "New PlumberShop", "/plumbershops/new" %></h3>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>
