<h3><%= link_to "Plumbers", "/plumbers" %> <%= link_to "PlumberShops", "/plumbershops"%></h3>
<html>
  <head>
    <h1><%= @plumbershop.name %></h1>
    <h2>Number of Plumbers: <%= @plumbershop.plumber_count %></h2>
    <h3><li>id: <%= @plumbershop.id %></li></h3>
    <h3><li>Service Offered: <%= @plumbershop.service_offered %></li></h3>
    <h3><li>Number of Feet Vehicles: <%= @plumbershop.fleet_vehicles %></li></h3>
    <h3><li>Created at: <%= @plumbershop.created_at %></li></h3>
    <h3><li>Updated at: <%= @plumbershop.updated_at %></li></h3>
    <h3><%= link_to "Update PlumberShop", "/plumbershops/#{@plumbershop.id}/edit" %></h3>
  </head>
  <body style="background-color:powderblue;">
  </body>
</html>